# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# Jupyter Notebook artifacts
*.ipynb
.ipynb_checkpoints/

# Dataset files
Ch3.ClevelandData.xlsx
diabetes.csv

# General
.DS_Store

